[submodule "deps_src/gtest"]
	path = deps_src/gtest
	url = https://github.com/google/googletest
	branch = release-1.6.0
[submodule "deps_src/gflags"]
	path = deps_src/gflags
	url = https://github.com/gflags/gflags
[submodule "deps_src/protobuf"]
	path = deps_src/protobuf
	url = https://github.com/google/protobuf
[submodule "deps_src/glog"]
	path = deps_src/glog
	url = https://github.com/google/glog
[submodule "deps_src/leveldb"]
	path = deps_src/leveldb
	url = https://github.com/google/leveldb
[submodule "deps_src/gmock"]
	path = deps_src/gmock
	url = https://github.com/google/googlemock
[submodule "deps_src/grpc"]
	path = deps_src/grpc
	url = https://github.com/grpc/grpc.git
